<div layout="row" layout-padding layout-wrap>
  <div flex="100" layout="row" layout-wrap layout-align="center center">
    <div flex="50" class="md-whiteframe-1dp" layout="column">
      <div flex="100" style="padding-left: 1em;">
        <h3>Perfil de usuario</h3>
      </div>
      <div flex="100" ng-init="loadUserProfile(_user.id)" style="padding-left: 1em; padding-bottom: 1em;">
        <h4>Nombre de usuario: <em>{{userProfile.username}}</em></h4>
        <strong>Nombre: </strong>{{userProfile.name}}<br>
        <strong>Fecha de cración: </strong>{{userProfile.createdAt | date:'medium'}}<br>
        <strong>Última edición: </strong>{{userProfile.updatedAt | date:'medium'}}<br>
      </div>
    </div>
  </div>
</div>