<!DOCTYPE html>
<html>
  <head>
    <title>Recursos Humanos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <base href="/">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-material.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/sweetalert.css">
    <!--STYLES END-->
  </head>
  <body ng-app="RecursosApp">
    <%- body %>
    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/angular-animate.min.js"></script>
    <script src="/js/dependencies/angular-aria.min.js"></script>
    <script src="/js/dependencies/angular-material-mocks.js"></script>
    <script src="/js/dependencies/angular-material.min.js"></script>
    <script src="/js/dependencies/angular-messages.min.js"></script>
    <script src="/js/dependencies/angular-sails.min.js"></script>
    <script src="/js/dependencies/angular-table.min.js"></script>
    <script src="/js/dependencies/angular-ui-router.min.js"></script>
    <script src="/js/dependencies/sweetalert.min.js"></script>
    <script src="/ng/app.js"></script>
    <script src="/ng/controllers/AuthCtrl.js"></script>
    <script src="/ng/controllers/EmpresasCtrl.js"></script>
    <script src="/ng/controllers/MainCtrl.js"></script>
    <script src="/ng/controllers/ToolbarCtrl.js"></script>
    <script src="/ng/controllers/UserCtrl.js"></script>
    <script src="/ng/services/HelperService.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
