<div layout="row" layout-align="center center" layout-padding layout-margin layout-wrap>
  <div flex-sm="100" flex-gt-sm="25" layout="row" style="background-color: #FF5722; cursor: pointer;" ui-sref="formato-actualizacion-datos">
    <md-icon md-svg-icon="account-card-details" class="formato-bloque-icon"></md-icon>
    <div flex>
      <h3 style="color: white;">Actualización de datos</h3>
    </div>
  </div>
  <div flex-sm="100" flex-gt-sm="25" layout="row" style="background-color: #4CAF50; cursor: pointer;">
    <md-icon md-svg-icon="account-check" class="formato-bloque-icon"></md-icon>
    <div flex>
      <h3 style="color: white;">Formato número #2</h3>
    </div>
  </div>
  <div flex-sm="100" flex-gt-sm="25" layout="row" style="background-color: #2196F3; cursor: pointer;">
    <md-icon md-svg-icon="account-switch" class="formato-bloque-icon"></md-icon>
    <div flex>
      <h3 style="color: white;">Otro tipo de formato</h3>
    </div>
  </div>
</div>